
      <div class="row trails-header">
        <div class="col-xs-2 list-header">Trail</div>
        <div class="col-xs-2 list-header">Mountain</div>
        <div class="col-xs-2 list-header">Difficulty</div>
        <div class="col-xs-2 list-header">Rating</div>
        <div class="col-xs-2 list-header">Remove</div>
        <div class="col-xs-2 list-header">Edit</div>
      </div>
      <hr style="margin-bottom:5px !important; margin-top:5px !important;">


{{#each trails as |trail|}}
<!-- go through trails array and do something on each one -->
        <div class="row">
        <div class="col-xs-2">{{trail.trail_name}}</div>
        <div class="col-xs-2">{{trail.mountain_name}}</div>
        <div class="col-xs-2">{{trail.difficulty}}</div>
        <div class="col-xs-2">{{trail.rating}}</div>
        <div class="col-xs-2" ><button data-id="{{trail.id}}" type="button" class="remove">Remove!</button></div>
        <div class="col-xs-2"><button data-id="{{trail.id}}"type="button" class="edit">Edit</button></div>
        </div>

{{/each}}
